:root {
	--font: 'Inter', 'Segoe UI', sans-serif;

	--background: var(--tg-theme-bg-color, #FFFFFF);
	--background-secondary: var(--tg-theme-secondary-bg-color, #000000);
	--foreground: var(--tg-theme-text-color, #222222);
	--text: var(#222222);
	--accent: var(--tg-theme-button-color, #2188ff);
	--accent-foreground: var(--tg-theme-button-text-color, #ffffff);
	--link: var(--tg-theme-link-color, #2188ff);

	--muted: color-mix(in srgb, var(--background), var(--text) 33%);

	--danger: #f56058;
	--success: #31b545;
	--ripple-color: rgba(0, 0, 0, 0.05);
	--border-color: rgba(0, 0, 0, 0.1);
	--border-width: 0;
}

body.dark {
	--background: var(--tg-theme-bg-color, #181819);
	--background-secondary: var(--tg-theme-secondary-bg-color, #000000);
	--foreground: var(--tg-theme-text-color, #ffffff);
	--text: var(#ffffff);
	--accent: var(--tg-theme-button-color, #2188ff);
	--accent-foreground: var(--tg-theme-button-text-color, #ffffff);
	--link: var(--tg-theme-link-color, #2188ff);

	--muted: color-mix(in srgb, var(--background), var(--text) 25%);

	--danger: #f16d66;
	--success: #31b545;
	--ripple-color: rgba(255, 255, 255, 0.05);
	--border-color: rgba(255, 255, 255, 0.025);
}
